.switch-toggle-push,
.switch-toggle-email,
.switch-toggle-sms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0 20px;
}

.switch-text {
  display: flex-start;
  flex-direction: column;
}

.switch-text strong {
  color: #43587f;
  font-size: 15px;
  font-weight: 800;
}

.switch-text span {
  margin-bottom: 1px;
  color: #7c879c;
  font-size: 13px;
  font-weight: 600;
}

.switch-button,
.switch-button-1,
.switch-button-2 {
  width: 48px;
  height: 26px;
  flex-shrink: 0;
  position: relative;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background 0.25s ease;
}

.switch-button span,
.switch-button-1 span,
.switch-button-2 span  {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 3px 8px rgba(15, 23, 42, 0.18);
  transition: transform 0.25s ease;
}

.switch-button span {
top: 3px;
}

.switch-button-1 span {
top: 3px;
}

.switch-button-2 span {
top: 2.8px;
}

.switch-on {
  background: #2a9d8a;
}

.switch-on span {
  transform: translateX(20px);
}

.switch-off {
  background: #b9c0c9;
}